text {
    font-family: Arial;
    fill: #333;
}

main.container {
    min-width: 90vw;
}

g.column text {
    text-transform: uppercase;
    font-size: 0.7em;
}

g.node {
    cursor: pointer;
}

g.node text {
    font-size: 0.5em;
    font-family: Arial;
    fill: #333;
    fill-opacity: 0.5;
}

g.node circle {
    fill: #333;
    fill-opacity: 0.5;
}

g.link path {
    stroke-opacity: 0.2;
    fill: none;
    stroke-width: 2;
}


.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 0.5;
  marker-end: url(#end-arrow);
}

.node2 {
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
    cursor: move;
}

.node3 {
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
    cursor: move;
}

.group2 {
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
  cursor: move;
}

.link2 {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 0.7;
  marker-end: url(#end-arrow);
}

.label2 {
    fill: black;
    font-family: Verdana;
    font-size: 11px;
    text-anchor: middle;
    cursor: move;
}